<link href= "{{ url_for('static',filename='styles/adding.css') }}" rel="stylesheet" type="text/css" />
<h1>Dodaj pitanje</h1>
<form action="{{ url_for('main.add') }}" method="post">
    <table>
        <tr>
            <td>Tekst pitanja:</td>
            <td><input required type="text" name="q_text" /></td>
        </tr>
        <tr>
              <td>Izaberite oblast:</td>
             <td>
                <input checked type="radio" name="category" value="LOZINKE">
                <label>Lozinke</label>
                <input type="radio" name="category" value="VISEFAKTORSKA">
                <label>Visefaktorska autentifikacija</label>
                 <input checked type="radio" name="category" value="MALTRETIRANJE">
                <label>Online maltretiranje</label>
                <input type="radio" name="category" value="KRADJA">
                <label>Kradja tudjeg naloga</label>
                 <input type="radio" name="category" value="LICNI">
                <label>Licni podaci</label>
            </td>
        </tr>
         <tr>
            <td>Opcija 1:</td>
            <td><input required type="text" name="opt1" /><input type="checkbox"  name="answer" value="0"></td>
        </tr>
        <tr>
            <td>Opcija 2:</td>
            <td><input required type="text" name="opt2" /><input type="checkbox"  name="answer" value="1"></td>
        </tr>
         <tr>
            <td>Opcija 3:</td>
            <td><input  type="text" name="opt3" /><input type="checkbox"  name="answer" value="2"></td>
        </tr>
         <tr>
            <td>Opcija 4:</td>
            <td><input  type="text" name="opt4" /><input type="checkbox"  name="answer" value="3"></td>
        </tr>
          <tr>
            <td>Opcija 5:</td>
            <td><input type="text" name="opt5" /><input type="checkbox"  name="answer" value="4"></td>
        </tr>
          <tr>
            <td>Opcija 6:</td>
            <td><input  type="text" name="opt6" /><input type="checkbox"  name="answer" value="5"></td>
        </tr>
        </tr>
          <tr>
            <td>Explanation:</td>
            <td><input  type="text" name="explanation" /></td>
          </tr>
         <tr>
            <td>Slika:</td>
            <td><input type="file" class="image" name="image" /></td>
        </tr>
            <td colspan="2">
                <input type="submit" class="submit" value="Dodaj pitanje"/>
            </td>
         
        </tr>

    </table>
</form>
